{{ $wowhead := .Site.Data.config.wowhead }}
{{ $temporaryEnchants := partialCached "cached/data/temporary-enchants" .Site.Data "0" }}
{{ $data := .data }}

<table class="table table-bordered">
    <tbody>
        {{ range $item := $data.gear }}
            {{ partial "player/gear-item" (dict "item" $item "temporaryEnchants" $temporaryEnchants "wowhead" $wowhead) $item.uuid }}
        {{ end }}
    </tbody>
</table>

{{ define "partials/player/gear-item.html" }}
    {{ $item := .item }}
    {{ $temporaryEnchants := .temporaryEnchants }}
    {{ $wowhead := .wowhead }}
    {{ $itemData := index $wowhead.items (string $item.id) }}
    <tr>
        <td>{{ $itemData.slot }}</td>
        <td {{ if not $item.temporaryEnchant }}colspan="2" {{ end }}>
            {{ partialCached "wowhead" (dict "data-wowhead" $item.wowhead_attr) $item.wowhead_attr }}
        </td>
        {{ if $item.temporaryEnchant }}
        <td>
            {{ with $temporaryEnchants.Get (string $item.temporaryEnchant) }}
                {{ $attr := printf "spell=%v" .spellID }}
                {{ partialCached "wowhead" (dict "data-wowhead" $attr) $attr }}
            {{ else }}
                {{ $item.temporaryEnchant }}
            {{ end }}
        </td>
        {{ end }}
    </tr>
{{ end }}