{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}


{{ define "main" }}

{{ $character := index .Site.Data.characters .Name }}

<article class="blog-post">
    <header>
        <h2 class="blog-post-title" dir="auto"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    </header>

    <div class="row">
        <div class="col-12">
            <h3>Présence</h3>
        </div>
        <div class="col-12">
            {{ partial "characters/attendance/table.html" (dict "lockouts" $.Site.Data.config.lockouts "character" $character) }}
        </div>
    </div>

    <div class="row">
        {{ range $raid := sort $character.raids ".startTime" "desc" }}
        <div class="col-12">
            <h4>
                <a href="{{ relURL (printf "/raids/%s/player-%s" (strings.ToLower .reportCode) (strings.ToLower $character.name)) }}">
                    {{ partial "zone" .zoneID }}
                    - {{ dateFormat "2006-01-02" (time (int (div .startTime 1000))) }}
                </a>
            </h4>
            {{ $logs := index (index $.Site.Data.raids $raid.reportCode) "analysis" }}
            {{ range $player := $logs.data }}
            {{ if eq $player.name $.Name }}
            {{ if $player.remarks }}
            <div class="row">
                <div class="col-12">
                    <h4>Remarques</h4>
                    <div class="row">
                        {{ range $remark := $player.remarks }}
                        <div class="col-12">
                            {{ partialCached "remark" $remark $remark.uuid }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>


</article>

{{ end }}
