{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}


{{ define "main" }}

{{ $wowhead := .Site.Data.config.wowhead }}
{{ $analysis := index (index .Site.Data.raids .Page.Params.reportCode) "analysis" }}
{{ $logs := index (index .Site.Data.raids .Page.Params.reportCode) "logs" }}
{{ $temporaryEnchants := newScratch }}
{{ range $te := .Site.Data.config.temporary_enchants }}
    {{ $temporaryEnchants.Set (string $te.id) $te }}
{{ end }}

<article class="blog-post">
    <header>
        <h2 class="blog-post-title" dir="auto"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    </header>

    <div class="row">
        <div class="col-12">
            Date du raid: {{ dateFormat "02/01/2006" .Date }}
        </div>
        <div class="col-12">
            <a href="//classic.warcraftlogs.com/reports/{{ .Page.Params.reportCode }}" target="_blank">Ouvrir sur
                Warcraft Logs</a>
        </div>
    </div>

    <div class="alert alert-warning" role="alert">
        Les informations concernant les consos sont limitées par ce que fournissent le jeu, et sont donc incomplètes.
        Les remarques concernant les consommables manquants
        sont donc à prendre avec des pincettes, certains consommables n'étant pas remontés par le journal de combat
        comme étant assez intéressants pour l'analyse.
    </div>

    <ul class="nav nav-tabs" id="tabs" role="tablist">
        {{ range $pid, $player := $analysis }}
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="{{ $player.name }}-tab" data-toggle="tab" href="#tab-{{ $pid }}" role="tab"
                aria-controls="tab-{{ $pid }}" aria-selected="true">{{ $player.name }}</a>
        </li>
        {{ end }}
    </ul>
    <div class="tab-content" id="tabsContent">
        {{ range $pid, $player := $analysis }}
            <div class="tab-pane fade" id="tab-{{ $pid }}" role="tabpanel" aria-labelledby="{{ $player.name }}-tab">
                <div class="row">
                    <div class="col-12">
                        <h4><a href="{{ relURL (printf "/characters/%s/" (strings.ToLower $player.name)) }}">{{ $player.name }}</a></h4>
                        {{ if $player.remarks }}
                        <div class="row">
                            <div class="col-12">
                                <h4>Remarques sur le raid</h4>
                                <div class="row">
                                    {{ range $remark := $player.remarks }}
                                    <div class="col-12">
                                        {{ partial "remark" $remark }}
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        {{ range $name, $data := $player.fights }}
                            <div class="row">
                                <div class="col-12">
                                    {{ $fight := index $logs.fights $name}}
                                    {{ $duration := div (sub $fight.endTime $fight.startTime) 1000 }}
                                    {{ $minutes := int (div $duration 60) }}
                                    {{ $seconds := mod $duration 60 }}
                                    <h3>{{ $name }} ({{ printf "%d:%02d" $minutes $seconds }})</h3>
                                    {{ if $data.talents }}
                                        <i>{{ index $data.talents.points 0 }} / {{ index $data.talents.points 1 }} / {{ index $data.talents.points 2 }}</i>
                                    {{ end }}
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h4>Gear</h4>
                                            <table class="table table-bordered">
                                                <tbody>
                                                    {{ range $item := $data.gear }}
                                                    {{ $itemData := index $wowhead.items (string $item.id) }}
                                                    <tr>
                                                        <td>{{ $itemData.slot }}</td>
                                                        <td {{ if not $item.temporaryEnchant }}colspan="2" {{ end }}>
                                                            <a href="#" data-wowhead="{{ $item.wowhead_attr }}"></a>
                                                        </td>
                                                        {{ if $item.temporaryEnchant }}
                                                        <td>
                                                            {{ with $temporaryEnchants.Get (string $item.temporaryEnchant) }}
                                                                <a href="#" data-wowhead="domain=fr.tbc&spell={{ .spellID }}"></a>
                                                            {{ else }}
                                                                {{ $item.temporaryEnchant }}
                                                            {{ end }}
                                                        </td>
                                                        {{ end }}
                                                    </tr>
                                                    {{ end }}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <h4>Gear</h4>
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            {{ range $item := $data.gear }}
                                                                {{ $itemData := index $wowhead.items (string $item.id) }}
                                                                <tr>
                                                                    <td>{{ $itemData.slot }}</td>
                                                                    <td {{ if not $item.temporaryEnchant }}colspan="2" {{ end }}>
                                                                        {{ partial "wowhead" (dict "data-wowhead" $item.wowhead_attr) }}
                                                                    </td>
                                                                    {{ if $item.temporaryEnchant }}
                                                                    <td>
                                                                        {{ with $temporaryEnchants.Get (string $item.temporaryEnchant) }}
                                                                            {{ partial "wowhead" (dict "data-wowhead" (printf "spell=%v" .spellID)) }}
                                                                        {{ else }}
                                                                            {{ $item.temporaryEnchant }}
                                                                        {{ end }}
                                                                    </td>
                                                                    {{ end }}
                                                                </tr>
                                                            {{ end }}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h4>Auras</h4>
                                                            <div class="row">
                                                                {{ range $aura := $data.auras }}
                                                                <div class="col-12">
                                                                    {{ partial "wowhead" (dict "data-wowhead" (printf "spell=%v" $aura.ability)) }} (#{{ $aura.ability }})
                                                                </div>
                                                                {{ end }}
                                                            </div>
                                                        </div>
                                                        {{ if $data.remarks }}
                                                        <div class="col-12">
                                                            <h4>Remarques</h4>
                                                            <div class="row">
                                                                {{ range $remark := $data.remarks }}
                                                                <div class="col-12">
                                                                    {{ partial "remark" $remark }}
                                                                </div>
                                                                {{ end }}
                                                            </div>
                                                        </div>
                                                        {{ end }}
                                                        {{ if $data.casts }}
                                                            {{ $scratch := newScratch }}
                                                            {{ $scratch.Set "consumables" slice }}
                                                            {{ $scratch.Set "items" slice }}
                                                            {{ $scratch.Set "spells" slice }}
                                                            {{ $scratch.Set "debug" slice }}
                                                            {{ range $spellID, $count := $data.casts }}
                                                                {{ $castConfig := index $.Site.Data.config.cast_in_fight $spellID }}
                                                                {{ if not $castConfig }}
                                                                    {{ $scratch.Add "debug" (dict "data-wowhead" (printf "spell=%v" $spellID) "count" $count "spell_id" $spellID) }}
                                                                {{ else if eq $castConfig.type "consumable" }}
                                                                    {{ $scratch.Add "consumables" (dict "data-wowhead" (printf "item=%v" $castConfig.item_id) "count" $count "spell_id" $spellID) }}
                                                                {{ else if eq $castConfig.type "item" }}
                                                                    {{ $scratch.Add "items" (dict "data-wowhead" (printf "item=%v" $castConfig.item_id) "count" $count "spell_id" $spellID) }}
                                                                {{ else if eq $castConfig.type "spell" }}
                                                                    {{ $scratch.Add "spells" (dict "data-wowhead" (printf "spell=%v" $spellID) "count" $count "spell_id" $spellID) }}
                                                                {{ end }}
                                                            {{ end }}
                                                            <div class="col-12">
                                                                <h4>Consommables utilisés</h4>
                                                                <div class="row">
                                                                    {{ range $scratch.Get "consumables" }}
                                                                        <div class="col-12">
                                                                            {{ .count }} x {{ partial "wowhead" . }} (#{{ .spell_id }})
                                                                        </div>
                                                                    {{ else }}
                                                                        <div class="col-12">
                                                                            ⛔
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <h4>Items utilisés</h4>
                                                                <div class="row">
                                                                    {{ range $scratch.Get "items" }}
                                                                        <div class="col-12">
                                                                            {{ .count }} x {{ partial "wowhead" . }} (#{{ .spell_id }})
                                                                        </div>
                                                                    {{ else }}
                                                                        <div class="col-12">
                                                                            ⛔
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <h4>Sorts utilisés</h4>
                                                                <div class="row">
                                                                    {{ range $scratch.Get "spells" }}
                                                                        <div class="col-12">
                                                                            {{ .count }} x {{ partial "wowhead" . }} (#{{ .spell_id }})
                                                                        </div>
                                                                    {{ else }}
                                                                        <div class="col-12">
                                                                            ⛔
                                                                        </div>
                                                                    {{ end }}
                                                                </div>
                                                            </div>
                                                            {{ if $scratch.Get "debug" }}
                                                                <div class="col-12">
                                                                    <h4>Debug</h4>
                                                                    <div class="row">
                                                                        {{ range $scratch.Get "debug" }}
                                                                            <div class="col-12">
                                                                                {{ .count }} x {{ partial "wowhead" . }} (#{{ .spell_id }})
                                                                            </div>
                                                                        {{ end }}
                                                                    </div>
                                                                </div>
                                                            {{ end }}
                                                        {{ end }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</article>

<script type="text/javascript">
    $(function () {
        let search = new URLSearchParams(window.location.hash.substr(1));
        let selected = search.get("player");
        let selector;
        if (selected !== null) {
            selector = "#tabs a#"+selected+"-tab";
        } else {
            selector = "#tabs li:first-child a";
        }
        $("#tabs li a").on("show.bs.tab", function (event) {
            let id = $(event.target).attr("id");
            id = id.substr(0, id.length - 4);
            let search = new URLSearchParams(window.location.hash.substr(1));
            search.set("player", id);
            window.location.hash = search.toString();
        });
        $(selector).tab("show");
    });
</script>
{{ end }}