body {
    background-color: #7ECACA;
    color: #365555;
}

.navbar, .navbar a {
    background-color: #365555;
    color: #7ECACA !important;
}

a {
    color: #365555;
}

.list-group-item, .breadcrumb {
    background-color: #98CACA;
    color: #365555;
}

.list-group-item:hover {
    background-color: #7ECACA;
}

nav {
    width: 100%;
}

.table .thead-dark th {
    color: #365555;
    background-color: #98CACA;
}

.table-danger, .table-danger > td, .table-danger > th {
    background-color: #CEAA60;
}

.table-success, .table-success > td, .table-success > th {
    background-color: #4DA54D;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #437DD4;
    background-color: #284B7E;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th {
    border-color: #00A383;
}