{{ $remark := . }}
{{ if $remark.fight }}<strong>{{ $remark.fight }}</strong> : {{ end }}
{{ if eq $remark.type "invalid_gem" }}
Utilisation d'une gemme {{ partial "wowhead" (dict "data-wowhead" $remark.wowhead_attr) }} sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}
{{ else if eq $remark.type "meta_not_activated" }}
La méta {{ partial "wowhead" (dict "data-wowhead" $remark.wowhead_attr) }} n'est pas activée sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}
{{ else if eq $remark.type "invalid_enchant" }}
Utilisation d'un mauvais enchant{{ if $remark.wowhead_attr }} {{ partial "wowhead" (dict "data-wowhead" $remark.wowhead_attr) }}{{ end }} (#{{ $remark.enchant_id }}) sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}
{{ else if eq $remark.type "missing_gems" }}
Il manque {{ $remark.count }} gemme{{ with gt $remark.count 1 }}s{{ end }} sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}
{{ else if eq $remark.type "no_enchant" }}
Il manque un enchantement sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}
{{ else if eq $remark.type "missing_battle_elixir" }}
Il manque un elixir de bataille
{{ else if eq $remark.type "missing_food" }}
Il manque un buff nourriture
{{ else if eq $remark.type "missing_guardian_elixir" }}
Il manque un elixir de gardien
{{ else if eq $remark.type "invalid_battle_elixir" }}
L'elixir de bataille {{ partial "wowhead" (dict "data-wowhead" $remark.wowhead_attr) }} est incorrect
{{ else if eq $remark.type "invalid_food" }}
Le buff nourriture {{ partial "wowhead" (dict "data-wowhead" $remark.wowhead_attr) }} est incorrect
{{ else if eq $remark.type "invalid_guardian_elixir" }}
L'elixir de gardien {{ partial "wowhead" (dict "data-wowhead" $remark.wowhead_attr) }} est incorrect
{{ else if eq $remark.type "no_temporary_enchant" }}
Pas d'amélioration posée sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}
{{ else if eq $remark.type "no_temporary_enchant_but_windfury" }}
Pas d'amélioration posée sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }}, mais bénéficie peut-être
du totem windfury.
{{ else if eq $remark.type "invalid_temporary_enchant" }}
L'amélioration posée sur {{ partial "wowhead" (dict "data-wowhead" $remark.item_wowhead_attr) }} est invalide
{{ else if eq $remark.type "cast_higher_rank_available" }}
Le sort {{ partial "wowhead" (dict "data-wowhead" $remark.spell_wowhead_attr) }} a été utilisé {{ $remark.count }} alors qu'un rang plus élevé est disponible ({{ partial "wowhead" (dict "data-wowhead" $remark.higher_ranked_spell_wowhead_attr) }})
{{ else if eq $remark.type "invalid_talent_points" }}
{{ $remark.points_used }} / {{ $remark.expected_points }} points de talents utilisés.
{{ else }}
{{ errorf "unknown remark type %s" $remark.type }}
{{ end }}