body {
    background-color: #6A94D4;
    color: #333;
}

a {
    color: #052F6D;
}

.table .thead-dark th {
    color: #00A383;
    background-color: #180773;
}

.table-danger, .table-danger > td, .table-danger > th {
    background-color: #FFA100;
}

.table-success, .table-success > td, .table-success > th {
    background-color: #00A383;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #437DD4;
    background-color: #284B7E;
}