{{ $wowhead := .Site.Data.config.wowhead }}
{{ $page := .Page }}
{{ $analysis := index (index .Site.Data.raids .Page.Params.reportCode) "analysis" }}
{{ $logs := index (index .Site.Data.raids .Page.Params.reportCode) "logs" }}
{{ $fightName := .Page.Params.fight }}
{{ $site := .Site }}

<div class="row">
    <div class="col-12">
        {{ $fight := index $logs.fights $fightName}}
        {{ $duration := div (sub $fight.endTime $fight.startTime) 1000 }}
        {{ $minutes := int (div $duration 60) }}
        {{ $seconds := mod $duration 60 }}
        <h2>{{ $fightName }} ({{ printf "%d:%02d" $minutes $seconds }})</h2>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>Joueurs</h3>
                <div class="list-group">
                    {{ range $player := (sort $analysis ".name" "asc") }}
                        {{ if index $player.fights $fightName }}
                            <a class="list-group-item list-group-item-action" href="{{ $page.Permalink }}{{ strings.ToLower $player.name }}">{{ $player.name }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3>Consommables utilisés</h3>
                {{ $scratch := newScratch }}
                {{ $scratch.Set "list" slice }}
                {{ range $player := $analysis }}
                    {{ $fight := index $player.fights $fightName }}
                    {{ range $fight.analysis.consumables }}
                        {{ $key := printf "%v" .spell_id }}
                        {{ if not ($scratch.Get $key) }}
                            {{ $scratch.Set $key 0 }}
                            {{ $scratch.Add "list" .spell_id }}
                        {{ end }}
                        {{ $scratch.Set $key (add ($scratch.Get $key) .count) }}
                    {{ end }}
                {{ end }}
                <div class="row">
                    {{ range $scratch.Get "list" }}
                        {{ $key := (printf "%v" .) }}
                        {{ $castConfig := index $.Site.Data.config.cast_in_fight $key }}
                        {{ $attr := printf "item=%v" $castConfig.item_id }}
                        <div class="col-12">
                            {{ $scratch.Get $key }} x {{ partialCached "wowhead" (dict "data-wowhead" $attr) $attr }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>