{{ $wowhead := .Site.Data.config.wowhead }}
{{ $analysis := index (index .Site.Data.raids .Page.Params.reportCode) "analysis" }}
{{ $logs := index (index .Site.Data.raids .Page.Params.reportCode) "logs" }}
{{ $temporaryEnchants := newScratch }}
{{ range $te := .Site.Data.config.temporary_enchants }}
    {{ $temporaryEnchants.Set (string $te.id) $te }}
{{ end }}
{{ $site := .Site }}

{{ $scratch := newScratch }}
{{ range $p := $analysis }}
    {{ $scratch.Set $p.name $p }}
{{ end }}
{{ $player := $scratch.Get .Page.Params.player }}
{{ $page := .Page }}

<div class="row">
    <div class="col-12">
        <h4><a href="{{ relURL (printf "/characters/%s/" (strings.ToLower $player.name)) }}">{{ $player.name }}</a></h4>
        {{ if $player.remarks }}
        <div class="row">
            <div class="col-12">
                <h4>Remarques sur le raid</h4>
                <div class="row">
                    {{ range $remark := $player.remarks }}
                    <div class="col-12">
                        {{ partialCached "remark" $remark $remark.uuid }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        {{ end }}
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6 list-group">
                    {{ range $name, $data := $player.fights }}
                        <a class="list-group-item list-group-item-action" href="{{ $page.Permalink }}{{ urlize $name }}">{{ $name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>