{{ $wowhead := .Site.Data.config.wowhead }}
{{ $page := .Page }}
{{ $analysis := index (index .Site.Data.raids .Page.Params.reportCode) "analysis" }}
{{ $logs := index (index .Site.Data.raids .Page.Params.reportCode) "logs" }}
{{ $fightName := .Page.Params.fight }}
{{ $site := .Site }}

<div class="row">
    <div class="col-12">
        {{ $fight := index $logs.fights $fightName}}
        {{ $duration := div (sub $fight.endTime $fight.startTime) 1000 }}
        {{ $minutes := int (div $duration 60) }}
        {{ $seconds := mod $duration 60 }}
        <h2>{{ $fightName }} ({{ printf "%d:%02d" $minutes $seconds }})</h2>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-6 list-group">
                {{ range $player := $analysis }}
                    <a class="list-group-item list-group-item-action" href="{{ $page.Permalink }}{{ strings.ToLower $player.name }}">{{ $player.name }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>